#btn1,#btn2,#btn3,#btn4{
    width: 100px;
    height: 80px;
    border-radius: 100%;
    background: red;
    font-size: 20px;
    margin: 15px;
    box-shadow: 3px 5px 3px 3px red;
    padding: 15px;    
    
}